body {
	font-family: 'Montserrat', sans-serif;
}


h1 {
	font-variant: small-caps;
	color: red;
	font-weight: bold;
	font-size: 40px;
	margin-top: 10px;
	margin-left: 30px;
}

h2 {
	margin: 30px;
	position: absolute;
	bottom: 0;
	z-index: 30;
	color: white;
	width: 70%;
}

#banner a {
	position: absolute;
	bottom: 5px;
	z-index: 10;
}


header {
	width: 100%;
	background-color: #f2f2f2;
	height: 50px;
}

h3 {
	padding-top: 30px;
	margin-left: 30px;
	width: 90%;
}

h4 {
	padding-top: 5px;
	margin-left: 30px;
	display: inline-block;
}

#banner {
	width: 100%;
	position: relative;
}

#banner img{
	display: block;
	width: 100%;
	height: 400px;
}

#question_form {
	margin: 30px;
}

ul {
	list-style-type: none;
}

li {
	padding: 5px;
	margin: 2px;
	border: 1px rgb(216, 216, 216) solid;
	background-color: #f2f2f2;
}

/*li:hover, label:hover {
	background-color: #BFBFBF;
}*/

label {
	width: 100%;
	height: 100%;
	font-weight: normal;
}

label span {
	display: inline-block;
}

label > span.check_img {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-position: bottom;
}

label > input{ 
  visibility: hidden; 
  position: absolute; 
  margin-left: 30px;
}

span.check_img{ 
  background-size: 77%;
  background-repeat: no-repeat;
}

.selected {
	background-color: #8ac5ff;
}

button {
	margin-top: 30px;
}

#answers {
	margin: 30px;
	display: none;
}

#yougot {
	display: inline-block;
	position: relative;
	color: black;
	margin-left: 0;
}

#desc {
	width: 500px;
}

#desc img {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
}

@media only screen and (max-width: 700px){
	h2, h3{
		width: 95%;
	}
	header {
		height: 100px;
	}
	header h4 {
		display: block;
	}
	li {
		font-size: 18px;
	}
}
