body {
	font-family: 'Montserrat', sans-serif;
	padding: 30px;
}

h3 {
	padding-top: 30px;
}

ul {
	list-style-type: none;
}

li {
	padding: 5px;
	margin: 2px;
	border: 1px rgb(216, 216, 216) solid;
	background-color: #f2f2f2;
}

label {
	width: 100%;
	height: 100%;
}

label span {
	display: inline-block;
}

label > span.check_img {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-position: bottom;
}

label > input{ 
  visibility: hidden; 
  position: absolute; 
  margin-left: 30px;
}

span.check_img{ 
  background-size: 77%;
  background-repeat: no-repeat;
}

button {
	margin-top: 30px;
}